footer
    position relative
    bottom 0 
    width 100%
    height 510px
    background #000000
    z-index 2
    .footer 
        width 1200px
        height 100%
        margin 0 auto !important
        display flex
        flex-direction column
        align-items center
        padding 80px 0 60px 0
        .footer-evento
            width 100%
            display flex
            flex-direction row
            align-items center
            margin-bottom 60px
            .evento-nav
                display flex
                flex-direction column
                width 40%
                a.nav-link
                    raleway(14)
                    color #FFF
                    text-transform uppercase
                    text-align end
                    margin 8px 0
                    &:hover
                    &:focus
                        color #a6a6a6
                        font-weight 600
            .evento-nome
                width 20%
                raleway(41)
                text-transform uppercase
                text-align center
                color #FFF
                margin 0 100px
                line-height 1.2
            .evento-dados
                display flex
                flex-direction column
                width 40%
                .nav-dados, .nav-site, .telefone
                    raleway(14)
                    color #FFF
                    text-transform uppercase
                    text-align start
                    margin 8px 0
                    +mobile()
                        text-align center
                    &:hover
                    &:focus
                        color #a6a6a6
                        font-weight 600
        .patrocinadores
            width 100%
            .titulo
                raleway(11)
                color #FFF
                text-transform uppercase
                text-align center
                margin 10px 0 0 0
            .todos
                width 100%
                display flex
                flex-direction row
                align-items center
                justify-content center
                .patrocinador
                    width 112px 
                    height 40px
                    border 1px solid #DCDCDC
                    margin 15px
                    img 
                        width 100%
                        height 100%
        .direitos
            width 100%
            .dados-direitos
                raleway(12)
                color #FFF
                text-align center
                text-transform uppercase
                margin 40px 0 0 0 
                a
                    text-decoration underline
    +below($tablet)
        height 450px
        +mobile()
            height auto
        .footer 
            width 90%
            padding 60px 0
            +mobile()
                padding 40px 0
            .footer-evento
                +mobile()
                    margin-bottom 30px !important
                    flex-direction column !important
                .evento-nav
                    +mobile()
                        width 100% !important
                        align-items center
                    a.nav-link
                        font-size 12px
                        +mobile()
                            font-size 10px !important
                            margin 5px 0 !important
                .evento-nome
                    font-size 36px
                    +mobile()
                        width 100% !important
                        font-size 32px !important
                        margin 20px 0 !important
                .evento-dados
                    +mobile()
                        width 100% !important
                        align-items center
                    .nav-dados, .nav-site, .telefone
                        font-size 12px
                        +mobile()
                            font-size 10px !important
                            margin 5px 0 !important
            .patrocinadores
                .todos
                    .patrocinador
                        margin 10px
                        +mobile()
                            margin 2px !important
                            width 84px !important
                            height 30px !important
            .direitos
                .dados-direitos
                    font-size 10px