.header-home
    width 100%
    height 80px
    top 0
    left 0
    z-index 2 
    display flex
    justify-content flex-end
    padding-top 10px
header
    width 100%
    height 140px
    top 0
    left 0
    z-index 2 
    display flex
    flex-direction column-reverse
    align-items center
    .logo
        raleway(18, bold)
        color #0E0E0E
        text-transform uppercase
        text-align center
        line-height 1.3
        height 80%
        width 100px
        display flex
        align-items flex-start
        justify-content center
        padding-top 15px
    nav
        padding 10px 0 0 0
        width 100%
        height 20%
        display flex
        justify-content flex-end
        align-items center
        .itens-menu
            width 1300px
            margin 0 auto
            display flex
            flex-direction row
            align-items baseline
            justify-content flex-end
            .links
                margin 0
                padding 0
                .logado-nome, .logado-logout, .logado-favoritas
                    display inline
                    raleway(11)
                    text-transform uppercase
                    color #A8A8A8
                    padding 0
                    margin 0 5px 0 0
                    letter-spacing 0.4px
                    border none 
                    background-color transparent
                .logado-logout
                    font-weight 700
                    margin-right 30px
                    cursor pointer
                    outline none 
                .logado-favoritas
                    font-weight 700
                    margin-right 10px
                    cursor pointer
                    outline none 
                #btnModalLogin
                    raleway(11)
                    color #A8A8A8
                    padding 0
                    margin 0 15px
                    letter-spacing 0.4px
                    border none 
                    outline none 
                    background-color transparent
                    cursor pointer
            .idiomas
                display block
                margin 0
                padding 0
                height 20px
                width 100px
                .idiomas-titulo
                    raleway(11)
                    color #A8A8A8
                    padding 0
                    margin 0 10px
                    cursor pointer
                    &:after
                        display none
                    img 
                        margin-left 8px
                .idiomas-links
                    width 100%
                    height 20px
                    padding 5px 0 0 10px
                    .idioma-troca
                        raleway(11)
                        color #A8A8A8
                        text-transform uppercase
                        padding 0
                        cursor pointer
                        transition .3s ease
                        &:hover
                        &:focus
                            font-weight 700
    +below($tablet)
        width 100%
        margin 0 auto
        height 100px
        padding 0
        display flex
        flex-direction row
        align-items baseline
        .logo
            width 220px
            height 100%
            margin 0 0 0 5%
        nav
            position absolute
            display none
            background-color #FFF
            width 100%
            height auto
            top 89px
            padding 0 0 50px 0
            z-index 99
            .itens-menu
                width 90%
                margin 0 auto
                flex-direction column
                align-items flex-end
                .links
                    margin 5px 0
                    display flex
                    flex-direction column
                    align-items flex-end
                    .logado-nome, .logado-logout, .logado-favoritas
                        margin 5px 15px 5px 0
                        +mobile()
                            font-size 14px !important
                    #btnModalLogin
                        margin 0 15px 0 0
                        +mobile()
                            font-size 14px !important
                .idiomas
                    width 80px
                    +mobile()
                        width 100px !important
                        margin 0 5px 0 0 !important
                    .idiomas-titulo
                        margin 0
                        +mobile()
                            font-size 14px !important
                    .idiomas-links
                        .idioma-troca
                            +mobile()
                                font-size 14px !important
        
#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 30px 0 auto
    +mobile()
        margin 0 5% 0 auto
    .lines
        display block
        width 100%
        height 4px
        background-color #808080
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #808080
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

// MODAL LOGIN
.modal
    background-color rgba(168, 168, 168, 0.7)
    position fixed
    width 100%
    height 100%
    top 0
    flex-direction column
    align-items center
    z-index 999 !important
    ouline none
    +below($tablet)
        z-index 100
    .btn-close
        position relative
        width 900px
        outline none
        border none 
        background-color transparent
        raleway(32)
        font-weight 200
        color #585858
        text-align end
        top 35px
        padding 0
        cursor pointer
        transition all 0.1s ease
        +mobile()
            width 80% !important
        &:hover
        &:focus
            color #DCDCDC
    .modal-dialog
        width 900px
        height 530px
        margin 35px auto
        background-color #FFF
        overflow-y hidden
        +mobile()
            width 80% !important
            overflow-y auto !important
        .modal-content
            width 100%
            height 100%
            padding 50px
            border none
            border-radius 0
            display flex
            flex-direction column
            align-items center
            +mobile()
               padding 30px 10px 10px 10px
            h4.modal-titulo-login
                raleway(20, light)
                color #585858
                margin 0 0 15px 0
            h4.modal-titulo
                raleway(24, light)
                color #585858
                margin 0 0 50px 0
                text-align center
            form
                width 500px
                display flex
                flex-direction column
                align-items center
                +mobile()
                    width 90%
                label 
                    raleway(12)
                    color #585858
                    margin-bottom 5px
                input[type=text]
                input[type=email]
                input[type=password]
                    width 100%
                    height 40px
                    border 1px solid #A8A8A8
                    border-radius 30px
                    outline none
                    padding 0 15px
                    margin 0 0 30px 0
                    transition all 0.1s ease
                    +placeholder()
                        raleway(18)
                        color #000000
                        background-color #FFF
                    &:hover
                    &:focus
                        border 2px solid #A8A8A8
                #btnProsseguir, #btnProsseguirCadastro, #btnProsseguirEsqSenha
                    width 300px
                    height 60px
                    raleway(16, bold)
                    color #FFF
                    background-color #000000
                    border 1px solid #000000
                    border-radius 50px
                    outline none 
                    cursor pointer
                    transition all 0.3s ease-in
                    +mobile()
                        width 200px
                        height 40px
                        font-size 14px
                        margin-bottom 20px
                    &:hover
                    &:focus
                        background-color #A8A8A8
                        border 1px solid #A8A8A8
            #btnEsqueciMinhaSenha
                border none 
                outline none
                background-color transparent
                raleway(12)
                color #000000
                margin 15px 0 40px 0
                cursor pointer
                transition all 0.1s ease-in
                &:hover
                &:focus
                    color #A8A8A8
                    font-weight 700
            .criar-cadastro
                width 100%
                display flex
                flex-direction row
                align-items center
                justify-content center
                margin-bottom 40px
                +mobile()
                    flex-direction column
                h4.modal-cadastro
                    raleway(22, light)
                    color #585858
                    margin 0 20px 0 0 
                    +mobile()
                        font-size 20px
                        text-align center
                        margin 0 0 20px 0 !important
                #btnCadastrar
                    width 240px
                    height 60px
                    raleway(16, bold)
                    color #FFF
                    background-color #A8A8A8
                    border 1px solid #A8A8A8
                    border-radius 50px
                    outline none 
                    cursor pointer
                    transition all 0.3s ease-in
                    +mobile()
                        width 200px
                        height 40px
                        font-size 14px
                    &:hover
                    &:focus
                        background-color #000000
                        border 1px solid #000000
    .modal-dialog-cadastro
        width 900px
        height 770px