.agenda
    width 100%
    height auto
    padding-bottom 40px
    .agenda-titulo
        raleway(48, light)
        color #585858
        text-align center
    +below($tablet)
        .agenda-titulo
            font-size 38px
            +mobile()
                font-size 28px !important

.btn-agenda-mais
    display block
    margin 45px auto 120px auto
    width 300px
    height 60px
    border 2px solid #DCDCDC
    border-radius 30px
    raleway(18)
    color #000000
    background-color transparent
    outline none
    transition all 0.5s ease-ins
    +mobile()
        margin 45px auto 75px auto !important
        width 230px !important
        height 50px !important
        font-size 16px !important
    &:hover
    &:focus
        background-color #DCDCDC
        font-weight 600
        

.agenda-white
    width 100%
    height auto
    background-color #FFF
    .centralizado
        width 1300px 
        margin 0 auto
        display flex
        flex-direction column
        align-items center
        padding-top 50px
        .dia-evento
            raleway(20)
            color #000000
            text-transform uppercase
            margin 25px 0 0 0
            +mobile()
                font-size 18px !important
        .data-evento
            raleway(32)
            color #000000
            text-transform uppercase
            margin 0
            +mobile()
                font-size 24px !important
        .palestras
            width 1300px
            height auto
            margin 40px auto
            display flex
            flex-direction column
            align-items center
            position relative
            .fio-vertical
                border-left 2px solid #DCDCDC
                position absolute
                z-index 1
                height 100%
            .palestra-right
                position relative
                width 50%
                margin-left 50%
                margin-bottom 60px
                z-index 2
                .horario
                    position relative
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    margin 50px 0 0 -40px
                    padding 0
                    border 1px solid #dcdcdc
                    border-radius 50%
                    width 85px
                    height 85px
                    raleway(28)
                    color #000000
                    background-color #FFF
                    p.tipo-hora
                        raleway(10)
                        color #000000
                        margin 0
                        width 70%
                        text-align center
                .dados
                    margin -50px 0 30px 100px
                    display flex
                    flex-direction column
                    align-items flex-start
                    .tipo
                        raleway(18)
                        color #000000
                        text-transform uppercase
                        margin 0
                    .titulo
                        raleway(24)
                        color #000000
                        margin 0
                    .nome
                        raleway(20)
                        color #808080
                        margin 0
                    .descricao
                        raleway(16)
                        color #000000
                        margin 0 0 40px 0
                        p
                            margin 0
                    .link, .id-reuniao, .senha-acesso
                        raleway(12)
                        color #000000
                        margin 0
                        display flex
                        flex-direction row
                        align-items center
                        .setinha
                            width 20px
                            height 15px
                            margin 0 0 0 5px
                        strong, .setinha
                            &:hover
                            &:focus
                                text-decoration underline
                .img-agenda 
                    width 280px
                    height 280px
                    border-radius 50%
                    margin 0 0 0 -40px
            .palestra-left
                position relative
                width 50%
                margin-right 50%
                margin-bottom 60px
                display flex
                flex-direction column
                align-items flex-end
                z-index 2
                .horario
                    position relative
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    margin 0 -40px 0 0
                    padding 0
                    border 1px solid #dcdcdc
                    border-radius 50%
                    width 85px
                    height 85px
                    raleway(28)
                    color #000000
                    background-color #FFF
                    p.tipo-hora
                        raleway(10)
                        color #000000
                        margin 0
                        width 70%
                        text-align center
                .dados
                    margin -50px 100px 30px 0
                    display flex
                    flex-direction column
                    align-items flex-end
                    .tipo
                        raleway(18)
                        color #000000
                        text-transform uppercase
                        text-align end
                        margin 0
                    .titulo
                        raleway(24)
                        color #000000
                        text-align end
                        margin 0
                    .nome
                        raleway(20)
                        color #808080
                        text-align end
                        margin 0
                    .descricao
                        raleway(16)
                        color #000000
                        text-align end
                        margin 0 0 40px 0
                        p
                            margin 0
                    .link, .id-reuniao, .senha-acesso
                        raleway(12)
                        color #000000
                        text-align end
                        margin 0
                        display flex
                        flex-direction row
                        align-items center
                        .setinha
                            width 20px
                            height 15px
                            margin 0 0 0 5px
                        strong, .setinha
                            &:hover
                            &:focus
                                text-decoration underline
                .img-agenda 
                    width 280px
                    height 280px
                    border-radius 50%
                    margin 0 -40px 0 0
    +below($tablet)
        .centralizado
            width 90% 
            .dia-evento
                margin 15px 0 0 0
            .data-evento
                font-size 28px
            .palestras
                width 100%
                .palestra-right, .palestra-left
                    +mobile()
                        width 100% !important
                        margin-left 0 !important
                        margin-right 0 !important
                        display flex !important
                        flex-direction column !important
                        align-items center !important
                    .horario
                        +mobile()
                            margin 50px 0 0 0 !important
                        p.tipo-hora
                            +mobile()
                                font-size 10px !important
                    .dados
                        +mobile()
                            margin 20px 0 0 0 !important
                            align-items center !important
                        .tipo
                            +mobile()
                                font-size 14px !important
                                background-color #FFF !important
                                text-align center !important
                        .titulo
                            +mobile()
                                font-size 18px !important
                                background-color #FFF !important
                                text-align center !important
                        .nome
                            +mobile()
                                font-size 16px !important
                                background-color #FFF !important
                                text-align center !important
                        .descricao
                            +mobile()
                                margin 0 0 20px 0 !important
                                font-size 12px !important
                                background-color #FFF !important
                                text-align center !important
                        .link, .id-reuniao, .senha-acesso
                            +mobile()
                                background-color #FFF !important
                                text-align center !important
                                height 15px !important
                            .setinha
                                +mobile()
                                    width 12px !important
                                    height 10px !important
                                    margin 0 0 0 3px !important
                    .img-agenda
                        +mobile()
                            width 180px !important
                            height 180px !important
                            margin 20px 0 0 0 !important
.agenda-gray
    width 100%
    height auto
    background-color #F3F3F3
    .centralizado
        width 1300px 
        margin 0 auto
        display flex
        flex-direction column
        align-items center
        padding-top 50px
        .dia-evento
            raleway(20)
            color #000000
            text-transform uppercase
            margin 25px 0 0 0
            +mobile()
                font-size 18px !important
        .data-evento
            raleway(32)
            color #000000
            text-transform uppercase
            margin 0
            +mobile()
                font-size 24px !important
        .palestras
            width 1300px
            height auto
            margin 40px auto
            display flex
            flex-direction column
            align-items center
            position relative
            .fio-vertical
                border-left 2px solid #DCDCDC
                position absolute
                z-index 1
                height 100%
            .palestra-right
                position relative
                width 50%
                margin-left 50%
                margin-bottom 60px
                z-index 2
                .horario
                    position relative
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    margin 50px 0 0 -40px
                    padding 0
                    border 1px solid #dcdcdc
                    border-radius 50%
                    width 85px
                    height 85px
                    raleway(28)
                    color #000000
                    background-color #F3F3F3
                    p.tipo-hora
                        raleway(10)
                        color #000000
                        margin 0
                        width 70%
                        text-align center
                .dados
                    margin -50px 0 30px 100px
                    display flex
                    flex-direction column
                    align-items flex-start
                    .tipo
                        raleway(18)
                        color #000000
                        text-transform uppercase
                        margin 0
                    .titulo
                        raleway(24)
                        color #000000
                        margin 0
                    .nome
                        raleway(20)
                        color #808080
                        margin 0
                    .descricao
                        raleway(16)
                        color #000000
                        margin 0 0 40px 0
                        p
                            margin 0
                    .link, .id-reuniao, .senha-acesso
                        raleway(12)
                        color #000000
                        margin 0
                        display flex
                        flex-direction row
                        align-items center
                        .setinha
                            width 20px
                            height 15px
                            margin 0 0 0 5px
                        strong, .setinha
                            &:hover
                            &:focus
                                text-decoration underline
                .img-agenda 
                    width 280px
                    height 280px
                    border-radius 50%
                    margin 0 0 0 -40px
            .palestra-left
                position relative
                width 50%
                margin-right 50%
                margin-bottom 60px
                display flex
                flex-direction column
                align-items flex-end
                z-index 2
                .horario
                    position relative
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    margin 0 -40px 0 0
                    padding 0
                    border 1px solid #dcdcdc
                    border-radius 50%
                    width 85px
                    height 85px
                    raleway(28)
                    color #000000
                    background-color #F3F3F3
                    p.tipo-hora
                        raleway(10)
                        color #000000
                        margin 0
                        width 70%
                        text-align center
                .dados
                    margin -50px 100px 30px 0
                    display flex
                    flex-direction column
                    align-items flex-end
                    .tipo
                        raleway(18)
                        color #000000
                        text-transform uppercase
                        text-align end
                        margin 0
                    .titulo
                        raleway(24)
                        color #000000
                        text-align end
                        margin 0
                    .nome
                        raleway(20)
                        color #808080
                        text-align end
                        margin 0
                    .descricao
                        raleway(16)
                        color #000000
                        text-align end
                        margin 0 0 40px 0
                        p
                            margin 0
                    .link, .id-reuniao, .senha-acesso
                        raleway(12)
                        color #000000
                        text-align end
                        margin 0
                        display flex
                        flex-direction row
                        align-items center
                        .setinha
                            width 20px
                            height 15px
                            margin 0 0 0 5px
                        strong, .setinha
                            &:hover
                            &:focus
                                text-decoration underline
                .img-agenda 
                    width 280px
                    height 280px
                    border-radius 50%
                    margin 0 -40px 0 0
    +below($tablet)
        .centralizado
            width 90% 
            .dia-evento
                margin 15px 0 0 0
            .data-evento
                font-size 28px
            .palestras
                width 100%
                .palestra-right, .palestra-left
                    +mobile()
                        width 100% !important
                        margin-left 0 !important
                        margin-right 0 !important
                        display flex !important
                        flex-direction column !important
                        align-items center !important
                    .horario
                        +mobile()
                            margin 50px 0 0 0 !important
                        p.tipo-hora
                            +mobile()
                                font-size 10px !important
                    .dados
                        +mobile()
                            margin 20px 0 0 0 !important
                            align-items center !important
                        .tipo
                            +mobile()
                                font-size 14px !important
                                background-color #F3F3F3 !important
                                text-align center !important
                        .titulo
                            +mobile()
                                font-size 18px !important
                                background-color #F3F3F3 !important
                                text-align center !important
                        .nome
                            +mobile()
                                font-size 16px !important
                                background-color #F3F3F3 !important
                                text-align center !important
                        .descricao
                            +mobile()
                                margin 0 0 20px 0 !important
                                font-size 12px !important
                                background-color #F3F3F3 !important
                                text-align center !important
                        .link, .id-reuniao, .senha-acesso
                            +mobile()
                                background-color #F3F3F3 !important
                                text-align center !important
                                height 15px !important
                            .setinha
                                +mobile()
                                    width 12px !important
                                    height 10px !important
                                    margin 0 0 0 3px !important
                    .img-agenda
                        +mobile()
                            width 180px !important
                            height 180px !important
                            margin 20px 0 0 0 !important

.assine-livro
    width 100%
    height 160px
    background-color #FFF
    position relative
    display flex
    align-items center
    justify-content center
    border-top 2px solid #B8B8B8
    .btn-assine-livro
        raleway(20)
        color #000000
        text-transform uppercase
        width 440px
        height 50px
        border 1px solid #585858
        border-radius 30px
        display flex
        align-items center
        justify-content center
        transition all 0.3s ease-in
        +mobile()
            width 80% !important
            font-size 14px !important
        img 
            margin-left 15px
            +mobile()
                width 10% !important
        &:hover
        &:focus
            background-color #A8A8A8
            border 1px solid #A8A8A8