.pag-assine-livro
    position relative
    width 1300px
    margin 0 auto
    height auto
    padding 10px 0
    display flex
    flex-direction column
    align-items center
    .titulo
        raleway(48, light)
        color #7C7C7C
        margin 0
    form
        width 100%
        display flex
        flex-direction column
        align-items center
        margin 40px 0
        .deixe-mensagem
            raleway(12)
            color #585858
            margin 10px 0
        textarea
            width 700px
            height 250px
            border 1px solid #999999
            border-radius 20px
            padding 20px
            resize none
            outline none
            transition all 0.1s ease-in
            +placeholder()
                raleway(18)
                color #000000
            &:hover
            &:focus
                border 2px solid #999999
        .frase-aviso
            raleway(12)
            color #585858
        #btnAssinarLivro
            width 230px
            height 60px
            border 1px solid #232323
            border-radius 50px
            raleway(20)
            color #232323
            background-color transparent
            margin 20px 0
            display flex
            align-items center
            justify-content center
            outline none
            transition all 0.3s ease-in
            img 
                margin-left 10px
            &:hover
            &:focus
                border 1px solid #DCDCDC
                background-color #DCDCDC
    .assinatura-enviada
        position relative
        width 700px
        height 250px
        align-items center
        justify-content center
        border 1px solid #999999
        border-radius 20px
        raleway(30, bold)
        color #232323
    +below($tablet)
        width 90%
        .titulo
            font-size 38px
            +mobile()
                font-size 26px
                text-align center
        form
            +mobile()
                margin 25px 0
            textarea
                width 60%
                +mobile()
                    width 100% !important
                +placeholder()
                    font-size 16px
            .frase-aviso
                +mobile()
                    text-align center
            #btnAssinarLivro
                width 200px
                height 50px
                font-size 18px
                img 
                    width 25px !important


hr.linha-assinaturas
    margin 30px 0
    border 1px solid #CCCCCC
.assinaturas
    position relative
    width 1300px
    margin 0 auto
    height auto
    padding 30px 0 80px 0
    .assinatura.grid-item
        width 31%
        height auto
        position relative
        margin 0 1% 50px 1%
        padding 0 40px 0 0
        .mensagem
            raleway(14)
            color #585858
        .nome
            raleway(11, bold)
            color #000000
            text-transform uppercase
            margin 20px 0 0 0
        .data-assinatura
            raleway(11, bold)
            color #000000
            margin 0
    +below($tablet)
        width 90%
        .assinatura.grid-item
            width 48%
            margin 0 1% 50px 1%
            +mobile()
                width 100% !important

.btn-assinaturas-mais
    width 300px
    height 60px
    margin 20px auto 100px auto
    display block
    border 1px solid #232323
    border-radius 50px
    raleway(18)
    color #232323
    background-color transparent
    outline none
    transition all 0.3s ease-in
    &:hover
    &:focus
        border 1px solid #DCDCDC
        background-color #DCDCDC
    +below($tablet)
        width 250px
        font-size 18px
        +mobile()
            margin 0 auto 70px auto
            width 200px
            height 50px
            font-size 16px
