.expositor-coletivo
    width 1300px
    margin 0 auto
    height auto
    display flex
    flex-direction column
    align-items center
    .expo-nome
        raleway(28)
        color #000000
        text-transform uppercase
        margin 10px 0
        text-align center
    .expo-pais
        raleway(16)
        color #A0A0A0
        margin 0 0 15px 0
    .expo-texto
        width 50%
        raleway(16)
        color #000000
        text-align center
    .telefone
        raleway(18, bold)
        color #FFF
        width 420px
        height 70px
        border 1px solid #FFF
        border-radius 50px
        background-color #000000
        display flex
        align-items center
        justify-content center
        margin 50px 0 80px 0
        transition all 0.3s ease-in
        img 
            margin-right 10px
        &:hover
            border 1px solid #A8A8A8
            background-color #A8A8A8
    .coletivo-img
        max-width 850px
        min-width 500px
        height auto
        margin-bottom 40px
    iframe
        margin 50px 0
    .links
        padding 0 0 80px 0
        display flex
        flex-direction row
        align-items center
        margin-top -20px
        a
            raleway(18, bold)
            color #A8A8A8
            width 250px
            height 50px
            border 1px solid #DCDCDC
            border-radius 30px
            display flex
            align-items center
            justify-content center
            margin 10px
            transition all 0.3s ease-in
            img 
                margin-right 10px
            &:hover
            &:focus
                border 2px solid #DCDCDC
                background-color #DCDCDC
    +below($tablet)
        width 90%
        .expo-texto
            width 70%
            font-size 14px
            +mobile()
                width 90% !important
        .telefone
            font-size 16px
            width 400px
            margin 50px 0
            +mobile()
                width 100% !important
            img 
                width 25px !important
        .coletivo-img
            max-width 70%
            min-width 50%
            +mobile()
                max-width 90% !important
                min-width 70% !important
        iframe
            +mobile()
                width 100%
                height 250px
        .links
            padding 50px 0
            +mobile()
                flex-direction column !important
                width 100% !important
            a
                font-size 15px
                width 210px
                height 40px
                +mobile()
                    width 60% !important
                img 
                    width 20px !important

.filtro
    width 100%
    background-color #F3F3F3
    padding 70px 0 80px 0 !important
    +below($tablet)
        padding 60px 0 !important
    .centralizado
        width 1300px
        margin 0 auto   
        display flex
        flex-direction row
        align-items flex-start
        padding 0
        +below($tablet)
            width 90%
            +mobile()
                flex-direction column !important
                align-items center !important
        h2.titulo
            width 35%
            raleway(36, light)
            color #585858
            margin 0 20px 0 0
            +below($tablet)
                width 27%
                font-size 24px
                +mobile()
                    width 100% !important
                    text-align center
                    margin 0 0 20px 0 !important
        .filtro-expositores
            width 65%
            display flex
            align-items center
            justify-content center
            +below($tablet)
                width 70%
                +mobile()
                    width 100% !important
                    flex-direction column
            select 
                raleway(14)
                width 250px
                height 40px
                border 1px solid #DCDCDC
                border-radius 30px
                margin 0 10px 
                padding 0 15px
                color #585858
                outline none
                appearance none
                background $img("seta-selecao-combobox.svg") no-repeat 94% #FFF
                transition all 0.1s ease-in
                +below($tablet)
                    font-size 12px
                    width 28%
                    max-width 250px
                    +mobile()
                        width 80% !important
                        margin 10px 0 !important
                option
                    raleway(14)
                    border 1px solid #DCDCDC
                    +below($tablet)
                        font-size 12px
                &:hover
                    font-weight 700
                    border 2px solid #DCDCDC
            .lupa-filtro
                background $img("lupa.svg") no-repeat center
                width 30px
                height 40px
                margin 0 0 0 10px
                border none 
                outline none
.assine-livro
    width 100%
    height 160px
    background-color #FFF
    position relative
    display flex
    align-items center
    justify-content center
    border-top 2px solid #B8B8B8
    .btn-assine-livro
        raleway(20)
        color #000000
        text-transform uppercase
        width 440px
        height 50px
        border 1px solid #585858
        border-radius 30px
        display flex
        align-items center
        justify-content center
        transition all 0.3s ease-in
        +mobile()
            width 80% !important
            font-size 14px !important
        img 
            margin-left 15px
            +mobile()
                width 10% !important
        &:hover
        &:focus
            background-color #A8A8A8
            border 1px solid #A8A8A8