.expositor-individual
    width 100%
    height 100%
    position relative
    .expo-nome
        width 100%
        raleway(36)
        color #000000
        text-transform uppercase
        text-align center
        margin 10px 0
    .expo-pais
        width 100%
        raleway(16)
        color #A0A0A0
        text-align center
        margin 10px 0 60px 0
    .loading
        display block
        text-align center
        img 
            +mobile()
                width 50% !important
    .joias
        width 100%
        height auto
        visibility hidden
        max-height 0
        .joia
            display flex
            flex-direction column
            align-items center
            .imgs-joias
                width 550px
                height 550px
                display flex !important
                align-items center
                justify-content center
                position relative
                .img 
                    display flex
                    align-items center
                    justify-content center
                    img     
                        max-height 550px
                        object-fit contain
            .nome-joia
                raleway(16)
                color #000000
                text-transform uppercase
                margin 20px 0 0 0
            .descricao-joia
                width 550px
                raleway(12)
                color #000000
                margin 0 0 20px 0
                display flex
                justify-content center
                p
                    margin 0
                    white-space pre-wrap
                    text-align center
            .acoes
                margin 10px 0 100px 0
                display flex
                justify-content center
                a, button 
                    raleway(12)
                    color #000000
                    width 180px
                    height 40px
                    border 1px solid #DCDCDC
                    border-radius 30px
                    background-color #FFF
                    display flex
                    flex-direction row
                    align-items center
                    justify-content center
                    margin 0 5px
                    outline none
                    transition all 0.3s ease-in
                    img 
                        margin-left 10px
                    &:hover
                    &:focus
                        border 2px solid #DCDCDC
                        background-color #DCDCDC
    .dados-expositor
        width 100%
        height auto
        background-color #000000
        display flex
        flex-direction row
        align-items flex-start
        justify-content center
        padding 70px 0
        .foto-expositor
            width 300px
            height 400px
            object-fit cover
            margin-right 60px
        .textos
            width 550px
            display flex
            flex-direction column
            .sobre-expositor
                raleway(16)
                color #FFF
                p
                    margin 0 0 20px 0
            .telefone
                raleway(18, bold)
                color #FFF
                width 400px
                height 80px
                border 1px solid #FFF
                border-radius 50px
                display flex
                align-items center
                justify-content center
                transition all 0.3s ease-in
                img 
                    margin-right 10px
                &:hover
                    border 1px solid #A8A8A8
                    background-color #A8A8A8
    .processo
        width 1300px
        margin 0 auto
        padding 60px 0
        display flex
        flex-direction column
        align-items center
        iframe
            margin-bottom 55px
        .imgs-processo
            width 100%
            height auto
            display flex
            flex-direction row
            align-items flex-start
            img 
                width 420px
                height 320px
                margin 7px
                object-fit cover
    .campanha
        width 1300px
        margin 0 auto
        padding 0
        display flex
        flex-direction column
        align-items center
        iframe
            margin-bottom 10px
        .imgs-campanha
            width 100%
            height auto
            display flex
            flex-direction row
            align-items center 
            justify-content center
            margin-top 50px
            .variacao
                width 330px
                height 180px
                opacity 0.5
                img 
                    width 100%
                    height 100%
                    object-fit cover
            .variacao-ativo
                width 640px
                height 650px
                margin 0 30px
                opacity 1
                img 
                    width 100%
                    height 100%
                    object-fit cover
    .contatos-expositor
        width 1300px
        margin 0 auto
        padding 60px 0 0 0 
        display flex
        flex-direction column
        align-items center
        .telefone
            raleway(18, bold)
            color #FFF
            width 420px
            height 70px
            border 1px solid #FFF
            border-radius 50px
            background-color #000000
            display flex
            align-items center
            justify-content center
            transition all 0.3s ease-in
            img 
                margin-right 10px
            &:hover
                border 1px solid #A8A8A8
                background-color #A8A8A8
        .links
            padding 40px 0 60px 0
            display flex
            flex-direction row
            align-items center
            a
                raleway(18, bold)
                color #A8A8A8
                width 250px
                height 50px
                border 1px solid #DCDCDC
                border-radius 30px
                display flex
                align-items center
                justify-content center
                margin 10px
                transition all 0.3s ease-in
                img 
                    margin-right 10px
                &:hover
                &:focus
                    border 2px solid #DCDCDC
                    background-color #DCDCDC
    .filtro
        width 100%
        background-color #F3F3F3
        padding 70px 0 80px 0
        .centralizado
            width 1300px
            margin 0 auto   
            display flex
            flex-direction row
            align-items flex-start
            padding 0
            h2.titulo
                width 35%
                raleway(36, light)
                color #585858
                margin 0 20px 0 0
            .filtro-expositores
                width 65%
                display flex
                align-items center
                justify-content center
                select 
                    raleway(14)
                    width 250px
                    height 40px
                    border 1px solid #DCDCDC
                    border-radius 30px
                    margin 0 10px 
                    padding 0 15px
                    color #585858
                    outline none
                    appearance none
                    background $img("seta-selecao-combobox.svg") no-repeat 94% #FFF
                    transition all 0.1s ease-in
                    option
                        raleway(14)
                        border 1px solid #DCDCDC
                    &:hover
                        font-weight 700
                        border 2px solid #DCDCDC
                .lupa-filtro
                    background $img("lupa.svg") no-repeat center
                    width 30px
                    height 40px
                    margin 0 0 0 10px
                    border none 
                    outline none
    .assine-livro
        width 100%
        height 160px
        background-color #FFF
        position relative
        display flex
        align-items center
        justify-content center
        border-top 2px solid #B8B8B8
        .btn-assine-livro
            raleway(20)
            color #000000
            text-transform uppercase
            width 440px
            height 50px
            border 1px solid #585858
            border-radius 30px
            display flex
            align-items center
            justify-content center
            transition all 0.3s ease-in
            +mobile()
                width 80% !important
                font-size 14px !important
            img 
                margin-left 15px
                +mobile()
                    width 10% !important
            &:hover
            &:focus
                background-color #A8A8A8
                border 1px solid #A8A8A8
    +below($tablet)
        .expo-nome
            font-size 32px
            +mobile()
                font-size 30px
                width 90%
                margin 10px auto
        .joias
            width 90%
            margin 0 auto
            .joia
                .imgs-joias
                    width 350px
                    height 350px
                    +mobile()
                        width 280px !important
                        height 280px !important
                    .img 
                        img     
                            max-height 350px
                            +mobile()
                                max-height 280px !important
                .descricao-joia
                    +mobile()
                        width 100% !important
                .acoes
                    margin 10px 0 80px 0
                    a, button 
                        width 160px
                        height 35px
                        font-size 11px
                        img 
                            width 20px !important
        .dados-expositor
            padding 50px 0
            +mobile()
                flex-direction column
                align-items center
            .foto-expositor
                width 250px
                height 350px
                +mobile()
                    width 90% !important
                    margin-right 0 !important
                    margin-bottom 20px
            .textos
                width 500px
                +mobile()
                    width 90% !important
                    margin 10px 0
                    align-items center
                .sobre-expositor
                    font-size 14px
                .telefone
                    font-size 16px
                    width 350px
                    height 70px
                    +mobile()
                        width 100% !important
                    img 
                        width 25px !important
        .processo
            width 90%
            iframe
                +mobile()
                    width 100%
                    height 250px
            .imgs-processo
                +mobile()
                    flex-direction column !important
                    align-items center !important
                img 
                    width 32%
                    height 250px
                    +mobile()
                        width 80% !important
        .campanha
            width 90%
            iframe
                +mobile()
                    width 100%
                    height 250px
            .imgs-campanha
                +mobile()
                    flex-direction column !important
                    margin-top 40px !important
                .variacao
                    width 25%
                    height 160px
                    +mobile()
                        width 100% !important
                        height 220px !important
                        margin 10px 0
                    img 
                        +mobile()
                            width 100% !important
                .variacao-ativo
                    width 45%
                    height 550px
                    +mobile()
                        width 100% !important
                        height 220px !important
                        margin 10px 0
                    img 
                        +mobile()
                            width 100% !important
        .contatos-expositor
            width 90%
            .telefone
                font-size 16px
                width 400px
                +mobile()
                    width 100% !important
                img 
                    width 25px !important
            .links
                +mobile()
                    flex-direction column !important
                    width 100% !important
                a
                    font-size 15px
                    width 210px
                    height 40px
                    +mobile()
                        width 60% !important
                    img 
                        width 20px !important
        .filtro
            padding 60px 0 !important
            .centralizado
                width 90%
                +mobile()
                    flex-direction column !important
                    align-items center !important
                h2.titulo
                    width 27%
                    font-size 24px
                    +mobile()
                        width 100% !important
                        text-align center
                        margin 0 0 20px 0 !important
                .filtro-expositores
                    width 70%
                    +mobile()
                        width 100% !important
                        flex-direction column
                    select 
                        font-size 12px
                        width 28%
                        max-width 250px
                        +mobile()
                            width 80% !important
                            margin 10px 0 !important
                        option
                            font-size 12px

.slick-slider
    .slick-dots li
        margin 0
    .slick-dots li button:before
        font-size 18px
        content "○"
    .slick-next
        right 0
        width 50%
        height 100%
    .slick-prev
        left 0
        width 50%
        height 100%
        z-index 2
    .slick-next:before, .slick-prev:before
        color transparent