.pag-favoritas
    position relative
    width 1300px
    margin 0 auto
    height auto
    padding 10px 0
    display flex
    flex-direction column
    align-items center
    .titulo
        raleway(36)
        color #000000
        margin 10px 0
    .user-nome
        raleway(16, bold)
        color #C6C6C6
        text-transform uppercase
        margin 0
    .joias-favoritas
        width 100%
        height auto
        display flex
        flex-wrap wrap
        padding 80px 0 40px 0
        .joia
            width 50%
            display flex
            flex-direction column
            align-items center
            .imgs-joias
                width 550px
                height 550px
                .img 
                    display flex
                    align-items center
                    justify-content center
                    img     
                        max-height 550px         
                        object-fit contain
            .nome-joia
                raleway(16)
                color #000000
                text-transform uppercase
                margin 20px 0 0 0
            .descricao-joia
                raleway(12)
                color #000000
                margin 0 0 20px 0
                display flex
                justify-content center
                p
                    margin 0
                    width 80%
                    white-space pre-wrap
                    text-align center
            .acoes
                margin 10px 0 100px 0
                display flex
                justify-content center
                a, button
                    raleway(12)
                    color #000000
                    width 180px
                    height 40px
                    border 1px solid #DCDCDC
                    border-radius 30px
                    background-color #FFF
                    display flex
                    flex-direction row
                    align-items center
                    justify-content center
                    margin 0 5px
                    outline none
                    transition all 0.3s ease
                    img 
                        margin-left 10px
                    &:hover
                    &:focus
                        border 2px solid #DCDCDC
                        background-color #DCDCDC
    .hr-atualizar-cadastro
        width 100%
        border 1px solid #DCDCDC
        margin 20px 0
    .atualizar-cadastro
        width 100%
        .titulo
            raleway(36)
            color #000000
            margin 30px 0 80px 0
            width 100%
            text-align center
        form
            width 100%
            display flex
            flex-direction column
            align-items center
            margin 0 0 80px 0
            label 
                raleway(12)
                color #6A6A6A
                margin-bottom 5px
            input[type=text]
            input[type=email]
            input[type=password]
                width 500px
                height 40px
                border 1px solid #DCDCDC
                border-radius 30px
                outline none
                padding 0 15px
                margin 0 0 30px 0
                +placeholder()
                    raleway(18)
                    color #000000
                    background-color #FFF
            #btnAtualizar
                width 300px
                height 60px
                raleway(16, bold)
                color #FFF
                background-color #000000
                border 1px solid #000000
                border-radius 50px
                outline none 
                cursor pointer
                transition all 0.3s ease
                &:hover
                &:focus
                    background-color #A8A8A8
                    border 1px solid #A8A8A8
    +below($tablet)
        width 90%
        .titulo
            font-size 32px
            +mobile()
                font-size 26px
                text-align center
        .user-nome
            +mobile()
                font-size 14px
        .joias-favoritas
            padding 50px 0
            +mobile()
                flex-direction column
                align-items center
            .joia
                width 50%
                +mobile()
                    width 100% !important
                .imgs-joias
                    width 350px
                    height 350px
                    +mobile()
                        width 280px !important
                        height 280px !important
                    .img 
                        img     
                            max-height 350px
                            +mobile()
                                max-height 280px !important
                .acoes
                    margin 10px 0 80px 0
                    a, button 
                        width 160px
                        height 35px
                        font-size 11px
                        img 
                            width 20px !important
        .atualizar-cadastro
            .titulo
                font-size 32px
                +mobile()
                    font-size 26px !important
                    text-align center !important
            form
                input[type=text]
                input[type=email]
                input[type=password]
                    +mobile()
                        width 90% !important
                    +placeholder()
                        +mobile()
                            font-size 16px !important
                #btnAtualizar
                    +mobile()
                        width 70% !important
.assine-livro
    width 100%
    height 160px
    background-color #FFF
    position relative
    display flex
    align-items center
    justify-content center
    border-top 2px solid #B8B8B8
    .btn-assine-livro
        raleway(20)
        color #000000
        text-transform uppercase
        width 440px
        height 50px
        border 1px solid #585858
        border-radius 30px
        display flex
        align-items center
        justify-content center
        transition all 0.3s ease-in
        +mobile()
            width 80% !important
            font-size 14px !important
        img 
            margin-left 15px
            +mobile()
                width 10% !important
        &:hover
        &:focus
            background-color #A8A8A8
            border 1px solid #A8A8A8

#modalCompartilhar
    .modal-dialog
        width 900px
        height 300px
        #myModalLabel
            display flex
            flex-direction row
            align-items center
            img 
                margin-left 20px
        ul.compartilhamento 
            width 100%
            display flex
            flex-direction row
            justify-content center
            padding 0
            a
                text-align center
                margin 0 25px
        
