.filtro-busca
    width 100%
    height auto
    background-color #F3F3F3
    padding 45px 0 0 0
    position relative
    h2.titulo
        width 100%
        raleway(48, light)
        text-align center
        color #585858
        margin 30px 0
    .filtro-expositores
        width 100%
        display flex
        align-items center
        justify-content center
        padding 0 0 30px 0
        select 
            raleway(14)
            width 250px
            height 40px
            border 1px solid #DCDCDC
            border-radius 30px
            margin 0 10px 
            padding 0 15px
            color #585858
            outline none
            appearance none
            background $img("seta-selecao-combobox.svg") no-repeat 94% #FFF
            transition all 0.1s ease-in
            option
                raleway(14)
                border 1px solid #DCDCDC
            &:hover
                font-weight 700
                border 2px solid #DCDCDC
        .lupa-filtro
            background $img("lupa.svg") no-repeat center
            width 30px
            height 40px
            margin 0 0 0 10px
            border none 
            outline none
    +below($tablet)
        padding 35px 0 0 0
        h2.titulo
            font-size 38px
            +mobile()
                font-size 34px !important
        .filtro-expositores
            +mobile()
                display flex
                flex-direction column
            select 
                width 28%
                max-width 250px
                +mobile()
                    width 80% !important
                    margin 10px 10px !important 
.resultados
    width 100%
    height auto
    .todos-expositores
        padding 50px 80px 0 80px
        width 1300px
        height auto
        margin 0 auto
        display flex
        flex-wrap wrap
        .expositor
            width 25%
            height 300px
            display flex
            flex-direction column
            align-items center
            margin 0 0 100px 0
            transition all 0.3s ease-in
            img 
                width 260px
                height 260px
                border-radius 50%
                object-fit cover
            .expositor-nome
                raleway(16, bold)
                color #585858
                text-transform uppercase
                margin 20px 0 0 0
            .expositor-pais
                raleway(12)
                color #585858
                margin 0
            &:hover
                opacity 0.6
    +below($tablet)
        .todos-expositores
            padding 40px 0
            width 90%
            .expositor
                width 25%
                height 200px
                margin 0 0 80px 0
                +mobile()
                    width 100% !important
                    height 260px !important
                img 
                    width 180px
                    height 180px
                    +mobile()
                        width 230px !important
                        height 230px !important
                .expositor-nome
                    font-size 14px
                    margin 10px 0 0 0
.assine-livro
    width 100%
    height 160px
    background-color #FFF
    position relative
    display flex
    align-items center
    justify-content center
    border-top 2px solid #B8B8B8
    .btn-assine-livro
        raleway(20)
        color #000000
        text-transform uppercase
        width 440px
        height 50px
        border 1px solid #585858
        border-radius 30px
        display flex
        align-items center
        justify-content center
        transition all 0.3s ease-in
        +mobile()
            width 80% !important
            font-size 14px !important
        img 
            margin-left 15px
            +mobile()
                width 10% !important
        &:hover
        &:focus
            background-color #A8A8A8
            border 1px solid #A8A8A8