.home
    width 100%
    height 100%
    position relative
    z-index 1
    .dados-evento
        width 1300px
        margin 0 auto 60px auto
        display flex
        flex-direction column
        align-items center
        position relative
        .nome-evento
            raleway(66)
            font-weight 500
            text-transform uppercase
            text-align center
            width 30%
            line-height 1.2
            margin-bottom 10px
        .cronometro-evento
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            raleway(20, bold)
            color #000000
            text-transform uppercase
            margin 110px 0 60px 0
            .x-dias, .x-horas, .x-minutos
                margin 0 5px
        .duracao-evento
            raleway(28)
            margin-bottom 10px
        .texto-evento
            raleway(20)
            width 40%
            text-align center
            padding 0 40px
        .frase-evento
            raleway(20)
            margin 10px 0
        .bom-evento
            raleway(20)
    .expositores
        width 100%
        height auto
        background-color #F3F3F3
        padding 45px 0 0 0
        position relative
        h2.titulo
            width 100%
            raleway(48)
            font-weight 200
            text-align center
            color #585858
            margin 30px 0
        .filtro-expositores
            width 100%
            display flex
            align-items center
            justify-content center
            padding 0 0 30px 0
            select 
                raleway(14, bold)
                width 240px
                height 40px
                border 1px solid #DCDCDC
                border-radius 30px
                margin 0 10px 
                padding 0 15px
                color #585858
                outline none
                appearance none
                background $img("seta-selecao-combobox.svg") no-repeat 94% #FFF
                transition all 0.1s ease-in
                option
                    raleway(14)
                    border 1px solid #DCDCDC
                &:hover
                &:focus
                    border 2px solid #DCDCDC
            .lupa-filtro
                background $img("lupa.svg") no-repeat center
                width 30px
                height 40px
                margin 0 0 0 10px
                border none 
                outline none
                transition all 0.5s ease-in
                &:hover
                &:focus
                    background $img("lupa-hover.svg") no-repeat center
        .todos-expositores
            padding 50px 80px 0 80px
            width 1300px
            height auto
            margin 0 auto
            display flex
            flex-wrap wrap
            .expositor
                width 25%
                height 300px
                display flex
                flex-direction column
                align-items center
                margin 0 0 100px 0
                transition all 0.3s ease-in
                img 
                    width 260px
                    height 260px
                    border-radius 50%
                    object-fit cover
                .expositor-nome
                    raleway(16, bold)
                    color #585858
                    text-transform uppercase
                    text-align center
                    margin 20px 0 0 0
                .expositor-pais
                    raleway(12)
                    color #A8A8A8
                    margin 0
                &:hover
                    opacity 0.7
    .agenda
        width 100%
        height auto
        padding 80px 0 50px 0
        display flex
        flex-direction column
        align-items center
        position relative
        h2.titulo
            raleway(48)
            font-weight 200
            color #585858
            margin 30px 0 20px 0
        .btn-agenda-completa
            width 250px
            height 40px
            border 1px solid #DCDCDC
            border-radius 30px
            display flex
            align-items center
            justify-content center
            raleway(16, bold)
            color #585858
            outline none
            transition all 0.5s ease-in
            img 
                margin 0 0 0 20px
                +mobile()
                    width 7px !important
            &:hover
            &:focus
                background-color #DCDCDC
        .dia-evento
            raleway(20)
            color #585858
            text-transform uppercase
            margin 80px 0 0 0
        .data-evento
            raleway(32)
            color #000000
            text-transform uppercase
            margin 0
        .palestras
            width 1300px
            height auto
            margin 40px auto 0 auto
            display flex
            flex-direction column
            align-items center
            position relative
            .fio-vertical
                border-left 2px solid #DCDCDC
                position absolute
                z-index 1
                height 100%
            .palestra-right
                position relative
                width 50%
                margin-left 50%
                margin-bottom 60px
                z-index 2
                .horario
                    position relative
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    margin 50px 0 0 -40px
                    padding 0
                    border 1px solid #dcdcdc
                    border-radius 50%
                    width 85px
                    height 85px
                    raleway(28)
                    color #000000
                    background-color #FFF
                    p.tipo-hora
                        raleway(10)
                        color #000000
                        margin 0
                        width 70%
                        text-align center
                .dados
                    margin -50px 0 30px 100px
                    display flex
                    flex-direction column
                    align-items flex-start
                    .tipo
                        raleway(18)
                        color #000000
                        text-transform uppercase
                        margin 0
                    .titulo
                        raleway(24)
                        color #000000
                        margin 0
                    .nome
                        raleway(20)
                        color #808080
                        margin 0
                    .descricao
                        raleway(16)
                        color #000000
                        margin 0 0 40px 0
                        p
                            margin 0
                    .link, .id-reuniao, .senha-acesso
                        raleway(12)
                        color #000000
                        margin 0
                        display flex
                        flex-direction row
                        align-items center
                        .setinha
                            width 20px
                            height 15px
                            margin 0 0 0 5px
                        strong, .setinha
                            &:hover
                            &:focus
                                text-decoration underline
                .img-agenda
                    width 280px
                    height 280px
                    border-radius 50%
                    margin 0 0 0 -40px
            .palestra-left
                position relative
                width 50%
                margin-right 50%
                margin-bottom 60px
                display flex
                flex-direction column
                align-items flex-end
                z-index 2
                .horario
                    position relative
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    margin 0 -40px 0 0
                    padding 0
                    border 1px solid #dcdcdc
                    border-radius 50%
                    width 85px
                    height 85px
                    raleway(28)
                    color #000000
                    background-color #FFF
                    p.tipo-hora
                        raleway(10)
                        color #000000
                        margin 0
                        width 70%
                        text-align center
                .dados
                    margin -50px 100px 30px 0
                    display flex
                    flex-direction column
                    align-items flex-end
                    .tipo
                        raleway(18)
                        color #000000
                        text-transform uppercase
                        text-align end
                        margin 0
                    .titulo
                        raleway(24)
                        color #000000
                        text-align end
                        margin 0
                    .nome
                        raleway(20)
                        color #808080
                        text-align end
                        margin 0
                    .descricao
                        raleway(16)
                        color #000000
                        text-align end
                        margin 0 0 40px 0
                        p
                            margin 0
                    .link, .id-reuniao, .senha-acesso
                        raleway(12)
                        color #000000
                        text-align end
                        margin 0
                        display flex
                        flex-direction row
                        align-items center
                        .setinha
                            width 20px
                            height 15px
                            margin 0 0 0 5px
                        strong, .setinha
                            &:hover
                            &:focus
                                text-decoration underline
                .img-agenda 
                    width 280px
                    height 280px
                    border-radius 50%
                    margin 0 -40px 0 0

    +below($tablet)
        .dados-evento
            width 90%
            .nome-evento
                font-size 56px
                width 40%
                +mobile()
                    font-size 48px !important
                    width 70% !important
            img 
                +mobile()
                    width 100%
            .cronometro-evento
                margin 60px 0
                +mobile()
                    margin 60px 0 30px 0 !important
                    flex-wrap wrap
                    font-size 16px !important
                    text-align center
            .duracao-evento
                font-size 24px
                margin 10px 0
                +mobile()
                    font-size 20px !important
            .texto-evento
                font-size 18px
                width 55%
                +mobile()
                    width 100% !important
                    font-size 16px !important
            .frase-evento
                font-size 18px
                +mobile()
                    font-size 16px !important
                    text-align center
            .bom-evento
                font-size 18px
        .expositores
            padding 35px 0 0 0
            h2.titulo
                font-size 38px
                +mobile()
                    font-size 34px !important
            .filtro-expositores
                +mobile()
                    display flex
                    flex-direction column
                select 
                    width 28%
                    max-width 250px
                    +mobile()
                        width 80% !important
                        margin 10px 10px !important 
            .todos-expositores
                width 90%
                padding 40px 0
                .expositor
                    width 25%
                    height 200px
                    margin 0 0 80px 0
                    +mobile()
                        width 100% !important
                        height 260px !important
                    img 
                        width 180px
                        height 180px
                        +mobile()
                            width 230px !important
                            height 230px !important
                    .expositor-nome
                        font-size 14px
                        margin 10px 0 0 0
        .agenda
            width 90%
            margin 0 auto
            padding 50px 0
            h2.titulo
                font-size 38px
                +mobile()
                    font-size 30px !important
            .dia-evento
                font-size 18px
                margin 60px 0 0 0
            .data-evento
                font-size 28px
            .palestras
                width 100%
                .palestra-right, .palestra-left
                    +mobile()
                        width 100% !important
                        margin-left 0 !important
                        margin-right 0 !important
                        display flex !important
                        flex-direction column !important
                        align-items center !important
                    .horario
                        +mobile()
                            margin 50px 0 0 0 !important
                        p.tipo-hora
                            +mobile()
                                font-size 10px !important
                    .dados
                        +mobile()
                            margin 20px 0 0 0 !important
                            align-items center !important
                        .tipo
                            +mobile()
                                font-size 14px !important
                                background-color #FFF !important
                                text-align center !important
                        .titulo
                            +mobile()
                                font-size 18px !important
                                background-color #FFF !important
                                text-align center !important
                        .nome
                            +mobile()
                                font-size 16px !important
                                background-color #FFF !important
                                text-align center !important
                        .descricao
                            +mobile()
                                margin 0 0 20px 0 !important
                                font-size 12px !important
                                background-color #FFF !important
                                text-align center !important
                        .link, .id-reuniao, .senha-acesso
                            +mobile()
                                background-color #FFF !important
                                text-align center !important
                                height 15px !important
                            .setinha
                                +mobile()
                                    width 12px !important
                                    height 10px !important
                                    margin 0 0 0 3px !important
                    .img-agenda
                        +mobile()
                            width 180px !important
                            height 180px !important
                            margin 20px 0 0 0 !important
                    
.sobre-evento
    position relative
    width 100%
    height auto
    background-color #4D4D4D
    padding 70px 0 80px 0
    .centralizado
        width 1200px
        margin 0 auto
        display flex
        flex-direction column
        align-items center
        .nome-evento
            raleway(48)
            color #FFF
            text-transform uppercase
        .duracao
            raleway(32)
            color #FFF
            margin 10px 0
        .texto
            raleway(16)
            color #FFF
            width 60%
            text-align center
            margin 30px 0
        .frase
            raleway(24)
            color #FFF
            width 80%
            text-align center
            margin 20px 0
        .cronometro-evento
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            raleway(20, bold)
            color #FFF
            text-transform uppercase
            margin 80px 0
            .x-dias, .x-horas, .x-minutos
                margin 0 5px
        .btn-ebook
            raleway(24)
            color #FFF
            text-transform uppercase
            width 700px
            height 90px
            border 1px solid #FFF
            border-radius 50px
            display flex
            align-items center
            justify-content center
            transition all 0.3s ease-in
            img 
                margin-left 25px
                +mobile()
                    width 10% !important
            &:hover
            &:focus
                font-weight bold
                background-color #A8A8A8
                border 1px solid #A8A8A8
+below($tablet)
    .sobre-evento
        padding 60px
        +mobile()
            padding 20px
        .centralizado
            width 90%
            .nome-evento
                font-size 46px
                +mobile()
                    font-size 38px !important
                    text-align center
            .duracao
                font-size 28px
                +mobile()
                    font-size 24px !important
            .texto
                font-size 14px
                width 80%
                +mobile()
                    width 100% !important
            .frase
                font-size 20px
                +mobile()
                    width 100% !important
                    font-size 16px !important
            .cronometro-evento
                font-size 18px
                margin 60px 0
                +mobile()
                    flex-wrap wrap
                    text-align center
                    font-size 16px !important
            .btn-ebook
                font-size 20px
                width 550px
                +mobile()
                    width 100% !important
                    height 70px !important
                    font-size 12px !important
.assine-livro
    width 100%
    height 160px
    background-color #FFF
    position relative
    display flex
    align-items center
    justify-content center
    border-top 2px solid #B8B8B8
    .btn-assine-livro
        raleway(20)
        color #000000
        text-transform uppercase
        width 440px
        height 50px
        border 1px solid #585858
        border-radius 30px
        display flex
        align-items center
        justify-content center
        transition all 0.3s ease-in
        +mobile()
            width 80% !important
            font-size 14px !important
        img 
            margin-left 15px
            +mobile()
                width 10% !important
        &:hover
        &:focus
            background-color #A8A8A8
            border 1px solid #A8A8A8
            