.nova-home
    width 100%
    height 100%
    display flex
    flex-direction column
    align-items center
    position relative
    z-index 1
    +below($tablet)
        width 90%
        margin 0 auto
    .nome-evento
        raleway(66)
        font-weight 500
        text-transform uppercase
        text-align center
        width 25%
        line-height 1.2
        margin-bottom 10px
        +below($tablet)
            font-size 56px
            width 40%
            +mobile()
                font-size 48px !important
                width 70% !important
    img
        width 50%
        +mobile()
            width 100%
    .evento-encerrado
        width 100%
        text-align center
        raleway(26, bold)
        color #000000
        text-transform uppercase
        margin 110px 0
        +mobile()
            font-size 20px !important
            margin 80px 0 !important